/*beginning*/
body {

	background-image: url("theatre.png");
}

/*black container*/
#main-container {

	width: 70%;
	background-color: black;
	height: 100%;
	margin: auto;
	padding-bottom: 70px;
}

.margin-50 {

	margin-bottom: 50px;
}

.navbar-default {

	
	background-color: rgb(113, 16, 8);
	border: #000;

}

.movie-panel {

	background-color: grey;
	border-color: red;


	 /*width: 100%;*/
	 /*height: 450px;*/

}

.search-poster {

	width: 50%;
}


.poster {
	margin-top: 10px;
	height: 235px;
	width: 195px;
}

#title {

	background-color: 
}

/*white font for navbar*/
.navbar-default .navbar-brand{

	color: white;
}

.navbar-default .navbar-nav>li>a{
	color: white;
}


/*adds margin for search bar*/
.search-margin {

	margin-top: 15px;
}


#map-panel {

	width: 100%;
}

.profile-body-wrapper {

	background-color: black;
	height: 850px;

}

.panel-body {

	/*height: 650px;*/

}

/*classes for movie search result*/
.movie-title {

	font-size: 36px;
	font-style: bold;
	color: rgb(48, 206, 232);
}

.year {
	
	color: rgb(48, 206, 232);
	font-size: 20px;
}

.plot-text {

	margin-top: 3px;
	font-size: 14px;
	color: white;
}

.detail-span {

	color: rgb(181, 3, 13);

}

.movie-details {

	color: rgb(48, 206, 232);
}


/*profile CSS*/

.img-thumbnail {

	height: 150px;
	width: 120px;
}
/*end*/